.forgotPassword-page-wrapper{
    margin: 30px 30px;
    margin-bottom: 65px
}
.forgotPassword-page-wrapper .btn-page{
    margin-top: 10px;
}
.forgotPassword-page-wrapper .btn-page .btn{
    margin-right: 5px;
    
    font-size: 13px;
}
.forgotPassword-page-wrapper .btn-page .btn.done{
  
    font-size: 13px;
    color: honeydew;
    background-color: #00B7EB;
    background-image: linear-gradient(to bottom, #00B7EB 0%,#00A8DC 74%);
}
.forgotPassword-page-wrapper .btn-page .btn.cancel{
    background-color: #eee;
    border-bottom: 1px solid #e2e2e2;
       
    font-size: 13px;
}