.text-input-control {
  width: 100%;
  height: 50px;
}
.text-input-control .MuiFormLabel-root {
  font-size: 13px;
}
.text-input-control .MuiInputBase-root{
  height: 100%;
}
.text-input-control .MuiInputBase-root input {
font-size: 13px;
}
.text-input-control .MuiInputBase-root  .MuiSelect-root {
  font-size: 13px;
  }
  .MuiMenu-paper .MuiListItem-root{
    font-size: 13px;
  }
.form-input-material {
  margin-top: 30px;
}
.phone input[type="number"]::-webkit-inner-spin-button,.phone input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-input-material .text-input-control.locked div {
  background-color: #f0f4f8;
}
.form-input-material .text-input-control.locked {
  pointer-events: none;
}
.form-input-material .form-field-error {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

